<div class="bg-light min-vh-100 d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="clearfix mb-4">
          <h1 class="float-start display-3 me-4">500</h1>
          <h4 class="pt-3">Houston, we have a problem!</h4>
          <p class="text-secondary float-start">
            The page you are looking for is temporarily unavailable.
          </p>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="What are you looking for?"
          />
          <button class="btn btn-info" type="button">Search</button>
        </div>

      </div>
    </div>
  </div>
</div>
