.pagination-wrapper {
  display: inline-flex;
  align-items: center;
  // border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background:var(--cui-card-cap-color);
}

.page-btn,
.nav-btn {
  padding: 8px 14px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #5856d6;
}

.page-btn:hover,
.nav-btn:hover {
  background: #e9ecef;
}

.page-btn.active {
  background: #5b5bd6;
  color: #fff;
  font-weight: 500;
}

.nav-btn:disabled {
  color: #999;
  cursor: not-allowed;
}