.clotchcy-brand {
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 1px;
  color: #fff;

  .dot {
    color: #d3a04e;
  }
}

:host::ng-deep {
  .ng-scrollbar {
    --scrollbar-padding: 1px;
    --scrollbar-size: 5px;
    --scrollbar-thumb-color: var(--cui-gray-500, #aab3c5);
    --scrollbar-thumb-hover-color: var(--cui-gray-400, #cfd4de);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
    --scrollbar-border-radius: 5px;
  }

  .ng-scroll-content {
    display: flex;
    min-height: 100%;
  }

}

.colordata{
  color:rgb(226 227 228);
  svg{
     color:rgb(107 110 118);
  }
}